<a href="https://colab.research.google.com/github/ManelBoucenna/ML_Mini_Projects/blob/master/House_price_prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Wokflow
0.   Import needed Libraries
1.   Find and upload dataset
2.   Visualize dataset and clean it if needed
3.   Prepare data
4.   Train Model
5.   Validate Model
6.   Test Model

## Import needed libraries

In [3]:
import plotly.express as px
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

## Find and upload dataset

In [119]:
data_url = "https://raw.githubusercontent.com/Shreyas3108/house-price-prediction/master/kc_house_data.csv"
df = pd.read_csv(data_url)

In [120]:
df.head()

           id             date     price  ...     long  sqft_living15  sqft_lot15
0  7129300520  20141013T000000  221900.0  ... -122.257           1340        5650
1  6414100192  20141209T000000  538000.0  ... -122.319           1690        7639
2  5631500400  20150225T000000  180000.0  ... -122.233           2720        8062
3  2487200875  20141209T000000  604000.0  ... -122.393           1360        5000
4  1954400510  20150218T000000  510000.0  ... -122.045           1800        7503

[5 rows x 21 columns]

In [121]:
print(f"{df.dtypes}\n")

id                 int64
date              object
price            float64
bedrooms           int64
bathrooms        float64
sqft_living        int64
sqft_lot           int64
floors           float64
waterfront         int64
view               int64
condition          int64
grade              int64
sqft_above         int64
sqft_basement      int64
yr_built           int64
yr_renovated       int64
zipcode            int64
lat              float64
long             float64
sqft_living15      int64
sqft_lot15         int64
dtype: object

In [122]:
# import preprocessing from sklearn
from sklearn import preprocessing


le = preprocessing.LabelEncoder()
df = df.apply(le.fit_transform)

In [123]:
print(f"Sum of null values in each feature:\n{35 * '-'}")
print(f"{df.isnull().sum()}")

Sum of null values in each feature:
-----------------------------------
id               0
date             0
price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
grade            0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
zipcode          0
lat              0
long             0
sqft_living15    0
sqft_lot15       0
dtype: int64

In [124]:
df.dropna(inplace=True)
print(f"{df.isnull().sum()}")

id               0
date             0
price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
grade            0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
zipcode          0
lat              0
long             0
sqft_living15    0
sqft_lot15       0
dtype: int64

In [125]:
print(f"Sum of uniques values in each feature:\n{35 * '-'}")
print(f"{df.nunique()}")

Sum of uniques values in each feature:
-----------------------------------
id               21436
date               372
price             4028
bedrooms            13
bathrooms           30
sqft_living       1038
sqft_lot          9782
floors               6
waterfront           2
view                 5
condition            5
grade               12
sqft_above         946
sqft_basement      306
yr_built           116
yr_renovated        70
zipcode             70
lat               5034
long               752
sqft_living15      777
sqft_lot15        8689
dtype: int64

In [128]:
X = df.drop(['price','id','date'], axis=1)
Y = df.price

In [129]:
print(X.head())

   bedrooms  bathrooms  sqft_living  ...  long  sqft_living15  sqft_lot15
0         3          3          109  ...   223            109        2164
1         3          8          506  ...   161            208        3470
2         2          3           39  ...   247            491        3804
3         4         11          316  ...    87            116        1748
4         3          7          238  ...   435            235        3357

[5 rows x 18 columns]

In [130]:
print(Y.head())

0     349
1    2091
2     180
3    2373
4    1967
Name: price, dtype: int64

## Visualize dataset and clean it if needed

## Prepare data

In [131]:
X_train, X_test, y_train, y_test = train_test_split(X , Y, train_size=0.95, test_size=0.05,random_state=0)
X_train, X_valid, y_train, y_valid = train_test_split(X_train , y_train, train_size=0.8, test_size=0.2,
                                     random_state=0)

## Train Model

We will try Linear regression.

In [132]:
from sklearn.linear_model import LinearRegression

LR_model = LinearRegression()
LR_model.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

## Validate Model

In [133]:
y_pred_LR = LR_model.predict(X_valid)

In [134]:
from sklearn.metrics import mean_squared_error

print("Linear regression RMSE: ",mean_squared_error(y_valid,y_pred_LR))

Linear regression RMSE:  234008.25000026025

## Test Model

In [135]:
y_pred_test_LR = LR_model.predict(X_test)
print("Linear regression RMSE: ",mean_squared_error(y_test,y_pred_test_LR))

Linear regression RMSE:  221666.3261319094